@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center mt-5">
    <a class="btn btn-primary" asp-controller="CharacterSelection" asp-action="Index">Escoger personaje</a>
</div>
